*{
  padding:0;
  margin:0;
}
body{
  background-color: rgb(251, 228, 228);
  font-family: sans-serif;
}
#lunch {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 23px;
}
td{
  text-align: center;
}
table{
  width: 70%;
  position: relative; 
  top: 89px;          
  margin:0 auto;
  border-collapse: collapse;
  border-bottom: 2px solid rgb(207, 61, 56);
}
th,td{
  padding: 20px;
}
table tr:nth-child(even) {
  background-color: white;
  border-bottom: 1px solid rgb(183, 183, 183);
}
table tr:nth-child(odd) {
  background-color:rgb(242, 242, 242);
  border-bottom: 1px solid rgb(183, 183, 183);
}
table tr:first-child{
  background-color: rgb(207, 61, 56);
  color: white;
  border: none;
}
#timeTable h2{
  position: relative; 
  top: 89px; 
  margin-bottom: 15px;         
  text-align: center;
}
#timeTable img{
  position: relative; 
  top: 6px;   
  height: 30px;       
}
#right{
  position: relative;
    top: -64px;
    left: 1000px;
}
#left{
  position: relative;
  top: 3px;
  left: 60px;
}
#right span{
color: red;
font-weight: bold;
position: relative;
top: -12px;
}
#right span:last-child{
  margin-left: 30px;
}